version: '3.8'
services:
  frontend:
    build: .
    ports:
      - "3000:3000"
    environment:
      - VITE_API_BASE_URL=${API_BASE_URL}
      - PUBLIC_VITE_API_BASE_URL=${API_BASE_URL}
      - VITE_STRAVA_CLIENT_ID=${STRAVA_CLIEN_ID}
      - PUBLIC_VITE_STRAVA_CLIENT_ID=${STRAVA_CLIEN_ID}
